@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&display=swap');

$ligth: #296059 !default;

body {
  background-color: #000 !important;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
}

.navbar {
  position: absolute;
  right: 0;
}
.fw-300 {
  font-weight: 300 !important;
}

.transparent {
  background-color: #ffffff, 0.1 !important;
  //border: solid 1px $darkgrey !important;
  backdrop-filter: blur(5px) !important;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.bg-transparent {
  backdrop-filter: blur(35px) !important;
    background: #00000020, !important;

}


.blue-fade {
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  background: -webkit-linear-gradient(#1ba0d7, #002d3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bottom {
  position: absolute;
  right: 0;
  bottom: 0;
}

h1 {
  font-size: 3.5rem !important;
  font-weight: 600 !important;
  line-height: 0.8 !important;
}
